{% load static %}

<header class="section-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <a href="./" class="brand-wrap">
          <img class="logo" src="{% static 'teleco/images/logo.png' %}" />
        </a>
        <button
          class="navbar-toggler m-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown m-1">
              <a
                class="btn btn-primary dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa fa-bars"></i> Categorias
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li>
            <li class="nav-item m-1">
              <a href="./store.html" class="btn btn-outline-primary">Tienda</a>
            </li>
            <li class="nav-item m-1 ms-3">
              <a href="./store.html" class="btn">Contacto</a>
            </li>
            <li class="nav-item m-1">
              <a href="./store.html" class="btn">Sobre nosotros</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar..."
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
          <div class="d-flex justify-content-end m-2 mb-3 mb-lg-0">
            <div class="widget-header">
              <small class="title text-muted">¡Bienvenido, visitante!</small>
              <div>
                <a
                  href="./signin.html"
                  class="mr-2"
                  style="text-decoration: none"
                  >Login</a
                >
                <span class="dark-transp">|</span>
                <a
                  href="./register.html"
                  class="ml-2"
                  style="text-decoration: none"
                  >Registrar</a
                >
              </div>
            </div>
            <a href="./cart.html" class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <span class="badge badge-pill badge-danger notify">0</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div
          class="collapse navbar-collapse justify-content-center bg-light"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            {% if marcas %} {% for marca in marcas %}
            <li class="nav-item">
              {% if marca.imagen %}
              <a
                class="nav-link"
                href="/{{marca.id}}"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-html="true"
                title="<img src='{{marca.imagen.url}}' alt='Imagen de {{marca.nombre}}' class='tooltip-image'>"
                >{{ marca.nombre }}</a
              >
              {% else %}
              <a class="nav-link" href="/{{marca.id}}">{{ marca.nombre }}</a>
              {% endif %}
            </li>
            {% endfor %} {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <script>
    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>
  <!-- header-main .// -->
</header>
<!-- section-header.// -->
